aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1676292782492/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
async-generator==1.10
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
blessed @ file:///home/conda/feedstock_root/build_artifacts/blessed_1666523113356/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1666764741656/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1682868691601/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1675196722997/work
certifi==2023.5.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179477998/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1669193745932/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1667467006729/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1681508838526/work
dateparser @ file:///home/conda/feedstock_root/build_artifacts/dateparser_1679584578149/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1668356257807/work
dulwich @ file:///Users/runner/miniforge3/conda-bld/dulwich_1683175572045/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1681839547898/work
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1667935484214/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
inquirer @ file:///home/conda/feedstock_root/build_artifacts/inquirer_1678135536462/work
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1679300325491/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1667024629799/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1671728304453/work
lockfile==0.12.2
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1677514956219/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1678312972418/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1672339514616/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1682210351842/work
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1655217710638/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1683494061627/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1673281726124/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1672264874562/work
poetry @ file:///Users/runner/miniforge3/conda-bld/poetry_1680723915144/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1678790306193/work
poetry-plugin-export @ file:///home/conda/feedstock_root/build_artifacts/poetry-plugin-export_1681748973730/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodome @ file:///Users/runner/miniforge3/conda-bld/pycryptodome_1669581704564/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1670268672584/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1672681525787/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-binance @ file:///home/conda/feedstock_root/build_artifacts/python-binance_1677005961564/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-editor==1.0.4
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pytz-deprecation-shim @ file:///Users/runner/miniforge3/conda-bld/pytz-deprecation-shim_1666782072303/work
rapidfuzz @ file:///Users/runner/miniforge3/conda-bld/rapidfuzz_1681729861144/work
readchar @ file:///home/conda/feedstock_root/build_artifacts/readchar_1679045163536/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1683147395402/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1682535435083/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1667050328587/work
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1683631183608/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1676292972954/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1683028165096/work
trio @ file:///Users/runner/miniforge3/conda-bld/trio_1666780058393/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1679232064156/work/dist
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1683051699863/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
tzlocal @ file:///Users/runner/miniforge3/conda-bld/tzlocal_1679156330495/work
ujson @ file:///Users/runner/miniforge3/conda-bld/ujson_1675192017486/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
virtualenv @ file:///Users/runner/miniforge3/conda-bld/virtualenv_1670705728590/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webencodings==0.5.1
websockets @ file:///Users/runner/miniforge3/conda-bld/websockets_1622491359300/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1661356345548/work
xattr @ file:///Users/runner/miniforge3/conda-bld/xattr_1670156135549/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1682426807048/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
